.nav-bar-fluid {
  background: var(--dark-side-charter);
  box-shadow: 0px 20px 10px white;
  .nav-bar-content {
    background: var(--dark-charter);
    border-top: 4px solid var(--green-charter);
    border-left: solid 1px var(--green-charter);
    border-right: solid 1px var(--green-charter);
    .nav-link {
      color: rgb(255, 255, 255);
    }
    .active {
      color: rgb(0, 0, 0);
    }
    .admin-only {
      background: rgb(3, 145, 171);
        color: white;
        border-radius: 15px;
        padding: 5px 10px;
        border: none;
    }
  }
}
.navbar-nav {
  gap: 0px; /* Supprime l'espace entre les éléments */
  margin: 2px;
}
.navbar-toggler {
  width: 55px;
  background-color: var(--purple-charter);
  color: white;
}
.nav-item {
  margin: 0px; /* Contrôle l'espace entre chaque élément */
  padding: 0px 5px 0px 5px;
  border-left: 1px solid;
  border-color: rgb(110, 110, 110);
}
/* Classe pour la barre de navigation (calculateur et mes recettes) avec le fond d'une couleur  */

