.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-card {
  background: var(--white);
  padding: 40px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 400px;
}

button[type="submit"] {
  width: 100%;
  background-color: var(--purple-charter);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

button[type="submit"]:hover {
  opacity: 0.9;
}